@import "../../styles/variables/sizes.scss";
@import "../../styles/variables/colors.scss";

.header {
  background: $dark-transparent-black-color;
  -webkit-backdrop-filter: blur(6.8px);
  box-shadow: inset 0 -1px 0 0 $main-grey-color;
  transform: translateZ(0);
  backdrop-filter: saturate(180%) blur(5px);
  -webkit-tap-highlight-color: transparent;
  height: $header-height;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  width: 100%;
  position: sticky;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    width: 100%;
  }
}

.nav__list {
  display: flex;
  list-style: none;
  gap: 20px;
}

.settings {
  display: flex;
  flex-direction: column;
  background: $dark-transparent-black-color;
  backdrop-filter: blur(6.8px);
  box-shadow: inset 0 -1px 0 0 $main-grey-color;

  &__close {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    height: 100vh;
    width: 100vw;
    margin: 0;
  }
}
