@import '../../styles/variables/colors.scss';

.folder {
  flex-direction: column;
  width: 86px;
  height: 86px;
  overflow: hidden;
  justify-content: center;
  text-align: center;
  border: 1px solid transparent;

  &__icon {
    height: 44px;
    width: 44px;
    object-fit: cover;
  }

  &__text {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__select {
    background-color: $dark-transparent-white-color;
    border: 1px solid $light-transparent-white-color;

    &:hover,
    &:active {
      background-color: $dark-transparent-white-color;
    }

    &__true {
      background-color: $transparent-white-color;
      border: 1px solid $light-transparent-white-color;

      &:hover,
      &:active {
        background-color: $transparent-white-color;
      }
    }
  }

  &__wrapper {
    position: relative;
  }

  &__share__icon {
    all: unset;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0 auto;
    z-index: 2;
    color: $main-pink-color;
  }
}
