.folder {
  flex-direction: column;
  width: 86px;
  height: 86px;
  overflow: hidden;
  justify-content: center;
  text-align: center;

  &__icon {
    height: 44px;
    width: 44px;
    object-fit: cover;
  }

  &__text {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__select {
    background-color: #ffffff10;
    border: 1px solid #ffffff80;

    &:hover,
    &:active {
      background-color: #ffffff10;
    }

    &__true {
      background-color: #ffffff40;
      border: 1px solid #ffffff80;

      &:hover,
      &:active {
        background-color: #ffffff40;
      }
    }
  }

  &__wrapper {
    position: relative;
  }

  &__share__icon {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0 auto;
    z-index: 2;
    color: rgb(0, 179, 255);
  }
}
