@import '../styles/variables/colors.scss';

.content {
  padding-top: 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  &__block {
    min-width: 300px;
    max-width: 800px;
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
  }

  &__text {
    width: 300px;
    text-wrap: wrap;
    color: $success-color;
  }
}
