@import "../styles/variables/sizes.scss";

.page {
  display: flex;
  justify-content: center;
  width: 100%;
  height: calc(100vh - $header-height);
}

.files {
  display: flex;
  width: 100%;
  justify-content: center;
}

.apply {
  position: absolute;
  bottom: 16px;
  right: 12px;
}

.createFolder {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.uploadFile {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;

  width: 200px;
  height: 120px;
  background-color: #0000009a;
  border-radius: 10px;
  border: 1px solid #fff;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;

  &__choose {
    display: flex;
    flex-direction: column;
  }
}

.share {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: fit-content;
  height: fit-content;
  max-width: 100%;
  padding: 12px;
  z-index: 11;

  background-color: #0000009a;
  border-radius: 10px;
  border: 1px solid #fff;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;

  &__input {
    all: unset;
    background-color: transparent;
    color: #fff;
    border-radius: 4px;
    border: 1px solid #fff;
    font-size: 1rem;
    height: 1.6rem;
    transition: border-color 0.2s;
    padding: 6px;

    &:active {
      border-color: rgb(255, 0, 98);
    }
  }

  &__close {
    position: fixed;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: #0000009b;
    z-index: 10;
  }

  &__close_btn {
    position: absolute;
    right: 4px;
    top: 4px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
