@import '../styles/variables/colors.scss';

.header {
  &__auth {
    margin: auto;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__error {
      color: $main-black-color;
      border: 1px solid $main-black-color;
      padding: 0 8px;
      border-left: none;
      border-right: none;
    }

    &__form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__under {
      position: fixed;
      width: 100%;
      height: 200%;
      opacity: 50%;
      z-index: 59;
      background-color: $main-black-color;
    }

    &__title {
      padding-top: 16px;
      margin-bottom: 8px;
    }

    &__close {
      position: absolute !important;
      top: 12px;
      right: 6px;
    }

    &__content {
      display: flex;
      flex-direction: column;
      width: 300px;
      gap: 16px;
      padding: 16px;

      &__buttons {
        max-width: 300px;
        padding: 16px;
      }
    }
  }
}