@import '../../styles/variables/colors.scss';

.tools {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $main-white-color;
  align-items: center;
  margin-bottom: 8px;
  transition: margin-bottom 0.3s;
}

.upload {
  display: inline-block;
}

.mb16 {
  margin-bottom: 16px;
  transition: margin-bottom 0.3s;
}

.mb0 {
  margin-bottom: 0;
}

.pl16 {
  padding-left: 16px;
}
