.list {
  display: flex;
  width: 100%;
  gap: 20px;
  justify-content: center;

  &__wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 86px);
    grid-template-rows: auto;
    justify-content: center;
    gap: 8px;
  }
}
