$main-black-color: #000;
$light-black-color: #160B0B;
$transparent-black-color: #0000009b;
$dark-transparent-black-color: rgba(0, 0, 0, 0.8);
$main-white-color: #fff;
$transparent-white-color: #ffffff40;
$dark-transparent-white-color: #ffffff10;
$light-transparent-white-color: #ffffff80;
$main-grey-color: #555;
$main-pink-color: rgba(255, 0, 115, 0.765);
$success-color: #cce8cd;
$error-color: #f06292;
$dark-error-color: #ff0062;